

.map-block {
    width: 77.7%;
    max-width: 1120px;
    margin-top: 90px;
}
/* .map-block__map {
    position: relative;
    margin-top: 64px;
}
.map-block__map__contacts {
    background-color: white;
    padding: 30px;
    position: absolute;
    top: 40px;
    right: 50px;
    transition: 0.5s;
}
.map-block__map__contacts.last {
    top: 60px;
}
.map-block__map__contacts h3 {
    font-size: 1.25rem;
}
.map-block__map__contacts .contacts__makhachkala__numbers {
    line-height: 150%;
}
.map-block__map__contacts:hover {
    transform: scale(1.05,1.05);
}
.map-block__map iframe {
    position: relative;
    height: 500px;
    /* width: 560px;
}
*/
.light {
    font-weight: 500 !important;
}
.map-block__block {
    background-color: rgb(255, 255, 255, 1);
    border-radius: 25px;
    right: 20px;
    position: relative;
    row-gap: 10px;
    height: 466px;
}
/* .map-block__block.first {
    height: 410px;

}
.map-block__block.second {
} */
.map-block__block  > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}
.map-block__block > div * {
    margin: 0;
    line-height: 150%;
    font-weight: 700;
}
.map-block__block > h2 {
    font-size: 26px;
    line-height: 130% ;
    vertical-align: bottom;
    height: 40px;
    position: relative;
    top: 60px;
}
.map-block__block > div > div {
    display: flex;
    flex-direction: column;
}
.map-block__image img {
    height: 466px;
}
@media (max-width: 768px) {
    .map-block__image img {
        height: 265px;
        width: 362px;
    }
    .map-block {
        width: 90%;
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .map-block__image {
        width: auto;
    }
    .map-block * {
        max-width: 100%;
    }
    .map-block__block {
        background-color: rgb(255, 255, 255, 0.5);
        border-radius: 25px;
        row-gap: 10px;
    }
    .map-block__block > h2 {
        font-size: 14px;
        height: 20px;
        top: 10px;
    }
    .map-block__block p, .map-block__block span {
        font-size: 9px;
    }
    .map-block__image {
        padding: 0;
    }
    .map-block .row {
        justify-content: center;
        height: auto;
    }
    .map-block__block {
        background-color: white;
        position: relative;
        top: -40px;
        right: 0;
        /* left: -10px; */
        padding: 20px;
        width: 362px;
    }
}