

.map-block {
    width: 77.7%;
    max-width: 1120px;
    margin-top: 90px;
}
.map-block__map {
    position: relative;
    margin-top: 64px;
}
.map-block__map__contacts {
    background-color: white;
    padding: 30px;
    position: absolute;
    top: 40px;
    right: 50px;
    transition: 0.5s;
}
.map-block__map__contacts h3 {
    font-size: 1.25rem;
}
.map-block__map__contacts .contacts__makhachkala__numbers {
    line-height: 150%;
}
.map-block__map__contacts:hover {
    transform: scale(1.05,1.05);
}
.map-block__map iframe {
    position: relative;
    height: 500px;
    /* width: 560px; */
}
.light {
    font-weight: lighter !important;
}