.contacts {
    max-width: 1120px;
    width: 77.7%;
    margin-top: 150px;
}
.contacts > div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 229px;
}
.contacts h2 {
    font-weight: bolder;
    margin-bottom: 34px;
}
.contacts h3 {
    font-size: 2rem;
    font-weight: 500;
}
.contacts__makhachkala, .contacts__moscow {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contacts__makhachkala__numbers, .contacts__moscow__numbers {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem
}
.contacts__makhachkala__numbers span, .contacts__moscow__numbers span {
    font-weight: bold;
}

@media (max-width: 768px) {
    .contacts {
        margin-top: 50px;
        width: 90%;
        /* max-width: 375px; */
    }
    .contacts > div {
        gap: 25px;
    }
    .contacts h3 {
        font-size: 1rem;
    }
    .contacts p, .contacts span {
        font-size: 0.75rem;
        line-height: 120%;
        margin-bottom: 10px;
    }
    .contacts__makhachkala, .contacts__moscow {
        gap: 20px;
    }
}