
.department {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.department h2 {
    margin-bottom: 70px;
}
.department > div {
    max-width: 1120px;
    width: 77.7%;
    display: flex;
    flex-direction:column;
}
.department-inner {
    display: flex;
    gap: 16px;
}
.department__adults, .department__kids {
    width: 550px;
    height: 265px;
    border-radius: 15px;
    padding: 40px;
    box-sizing: border-box;
    transition: 0.3s;
    position: relative;

    color: black;
    background-color: rgba(255, 255, 255, 0.5);

}
.department__adults > img, .department__kids > img {
    position: absolute;
    right: 0;
    bottom: 0;
}
.white-arrow {
    opacity: 0;
    position: absolute;
    top: 7px;
    right: 0;
    left: 0;
    transition: opacity 0.3s;
}
.black-arrow {
    position: relative;
    opacity: 1;
}
.department__kids:hover .white-arrow, .department__adults:hover .white-arrow {
    opacity: 1;
}
.department__kids:hover .black-arrow, .department__adults:hover .black-arrow {
    opacity: 0;
}

.department__kids:hover, .department__adults:hover {
    color: white;
    background: var(--dark-gray);
    /* background: linear-gradient(200deg, rgba(238,234,232,1) 11%, rgba(255,255,255,1) 100%); */
}
.department__kids__links, .department__adults__links {
    height: 58px;
    min-width: 90px;
    display: flex;
    flex-direction: column;
    gap:30px;

}
.department__kids__links h3, .department__adults__links h3 {
    font-size: 20px;
}
.department__kids__links a, .department__adults__links a {
    position: relative;
    z-index: 100;
}

@media (max-width: 768px) {
    .department {
        margin-top: 50px;
    }
    .department__adults , .department__kids {
        width: 160px;
        height: 185px;
        padding: 15px;
    }
    .department__adults h3, .department__kids h3 {
        margin: 0;
        font-size: 12px;
    }
    .department__kids__links, .department__adults__links {
        gap: 10px;
    }
    .department > div {
        width: 90%;
        /* max-width: 375px; */
    }
    .department h2 {
        margin-bottom: 20px;
    }
    .department-inner {
        justify-content: center;
    }
}