
.FAQ {
    width: 1120px;
    height: 400px;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    gap: 76px;
}
.FAQ  > div:first-of-type > div > img{
    width: 280px;
    height: 170px;
}
.FAQ  > div:first-of-type > div{
    display: flex;
    flex-direction: row;
    gap: 48px;
}
.FAQ  > div:first-of-type > p {
    font-size: 1rem;
}
.FAQ  > div:first-of-type > div > h2 {
    font-size: 2rem;
    font-weight: bold;
}
.FAQ  > div:first-of-type {
    width: 400px;
    display: flex;
    flex-direction: column;
}
.FAQ  > div:last-of-type {
    width: 645px;
}



/*Accordeon styles*/
.FAQ__dropdown {
    margin-bottom: 20px;
    border: none;
    overflow: hidden; 
}

/* Header styles */
.FAQ__dropdown__header {
    background-color: var(--dark-gray);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px !important;
    height: 120px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.FAQ__dropdown {
    border-radius: 10px;
    background-color: var(--dark-gray);
    color: white;
}
/* Styles for the open header  */
.FAQ__dropdown__header:not(.collapsed) {
    background-color: var(--dark-gray);
    color: white;
}
.FAQ__dropdown__header .accordion-button {
    background-color: var(--dark-gray);
    color: white;
}.FAQ__dropdown__header .accordion-button {
    background-color: var(--dark-gray);
    color: white;
}
/* Style of accordeon body */
.FAQ__dropdown__body {
    background-color: var(--darker-gray);
    color: white;
    border-radius: 0 0 10px 10px;
    padding: 20px;
}
.FAQ .accordion-item:first-of-type {
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px;
}
.FAQ .accordion-item:last-of-type {
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px;
}
/* additional wrapper for content */
.FAQ__dropdown__content {
    line-height: 150%;
}

.FAQ__dropdown-icon {
    transition: transform 0.3s ease;
}
.FAQ__dropdown .accordion-button:not(.collapsed) .FAQ__dropdown-icon {
    transform: rotate(45deg);
}
.FAQ__dropdown .accordion-button::after {
    background-color: transparent;
    background-image: none;
}
.FAQ__dropdown .accordion-item {
    border-radius: 10px !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px !important;
    background-color: aqua;
}
.FAQ__dropdown__header div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
