#main-page-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    
    /* background: rgb(222,229,239);
    background: linear-gradient(300deg, rgba(222,229,239,0.5) 0%, rgba(238,234,232,0.5) 40%, rgba(245,236,229,0.5) 100%);
    background-color: #F1EBE8;
    background-image: url("../../assets/background-texture.png"); */

    background-image: 
    linear-gradient(rgba(241, 235, 232, 0.7), rgba(241, 235, 232, 0.7)), 
    url("../../assets/background-texture.png");

    background-repeat: repeat-y;
    background-size: cover;
}
.metrics {
    background-color: #2E2E2E;
    color: white;
    height: 314px;
    width: 100%;
    padding-top: 74px;

    display: flex;
    justify-content: center;
}
.metrics > div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 185px;
    width: 1118px;
    
    /* gap: 98px; */
}
.metrics h3 {
    font-size: 14px;
}
.metrics p {
    font-size: 12px;
}
.metrics > div > div {
    min-width: 168px;
    max-width: 256px;
    
    margin-right: 98px;

    display: flex;
    flex-direction: column;
    gap: 25px 20px;
    align-items: flex-start;
    align-content: flex-start;
}
.metrics > div > div > img {
    height: 43px;
    width: 43px;
}
