.main-swiper-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-swiper-slide {
  max-width: 1120px;
  width: 77.7%;
  height: 756px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: bold;
  position: relative;
}
.main-swiper-slide > img {
  position: absolute;
  max-height: 834px;
  height: calc(100vh * 0.834);
  bottom: 0;
  right: -200px;
}
.main-swiper-slide__text {
  display: flex;
  flex-direction: column;
}
.main-swiper-slide__text h1 {
  width: 560px;
}
.main-swiper-slide__text p {
  width: 516px;
  font-weight: lighter;
  font-size: 1rem;
}
.main-swiper-slide__text > div {
  display: flex;
  flex-direction: row;
  width: 320px;
  align-items: center;
  gap: 20px;
}
.main-swiper-slide__text > div > img {
  height: 75px;
  width: 170px;
}
.main-swiper-slide__text > div > p {
  height: 90px;
  width: 130px;
}
.main-swiper-slide__text > div > p > span {
  font-size: 2rem;
  font-weight: bold;
}
.main-swiper-slide__text > *:nth-child(2) {
  margin-top: 30px;
}
.main-swiper-slide__text > *:nth-child(3) {
  margin-top: 50px;
}
.main-swiper-slide__text > *:nth-child(4) {
  margin-top: 59px;
}

.main-swiper {
  width: 100%;
  max-width: 1440px;
  height: 756px;
}
.swiper-pagination-bullet {
  background-color: white;
}