#main-page-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100vw;
    overflow-x: hidden;
    background-image:
    linear-gradient(rgba(241, 235, 232, 0.7), rgba(241, 235, 232, 0.7)),
    url("../../assets/aifile.png");
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-size: 230% 230%;
    /* z-index: -100; */
}
#main-page-wrapper > div:nth-child(2) {
    width: 100vw;
}
.metrics {
    background-color: #2E2E2E;
    color: white;
    height: 314px;
    width: 100%;
    padding-top: 74px;

    display: flex;
    justify-content: center;
    line-height: 100%;
}
.metrics > div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 185px;
    width: 77.7%;
    max-width: 1120px;
}
.metrics h3 {
    font-size: 14px;
}
.metrics p {
    font-size: 12px;
}
.metrics > div > div {
    min-width: 168px;
    max-width: 256px;

    margin-right: 98px;

    display: flex;
    flex-direction: column;
    gap: 25px 20px;
    align-items: flex-start;
    align-content: flex-start;
}
.metrics > div > div > img {
    height: 43px;
    width: 43px;
}
.metrics__openness {
    margin-right: 0 !important;
}

@media (max-width:768px) {
    #main-page-wrapper {
        background-size: 150% 150%;
    }
    .metrics > div {
        flex-wrap: wrap;
        height: auto;
        width: 90%;
        /* max-width: 375px; */
    }
    .metrics {
        height: auto;
        padding-top: 40px;
    }
    .metrics > div > div{
        margin-right: 0;
        width: 146px;
        gap: 10px;
    }
    .metrics > div > div img {
        height: 30px;
        width: 30px;

    }
    .metrics h3 {
        font-size: 10px;
    }
    .metrics p {
        font-size: 0.5rem;
    }
    .metrics .secret {
        gap: 10px;
    }
}



.veneers {
    width: 77.7%;
    max-width: 1120px;
    margin-top: 163px;
    max-height: 360px;
    height: auto;
}
.veneers p {
    margin-top: 26px;
    margin-bottom: 44px;
    line-height: 160%;
    font-weight: 400;
    font-size: 1rem;
}
.veneers a {
    padding: 14px 24px;
    background-color: #2E2E2E;
    color: white;
    border-radius: 90px;
    transition: 0.3s;
}
.veneers a:hover {
    color: var(--dark-gray) !important;
    text-decoration: none;
    background-color: white;
}
.custom-img {
    position: relative;
    bottom: 60px;
}
.veneers.v2 h2 {

}

@media (max-width: 768px) {
    .veneers {
        width: 90%;
        /* max-width: 375px; */
        margin-top: 50px;
        margin-bottom: 15px;
    }
    .custom-img {
        object-fit: cover;
        bottom: 0;
    }
    .hidden-block{
        position: relative;
        left: -5.5%;
        background-color: var(--dark-gray);
        width: 100vw;
    }
    .veneers p {
        margin-top: 15px;
        margin-bottom: 25px;
        line-height: 140%;
        font-size: 12px;
        font-weight: 500;
    }
    .veneers a {
        padding: 10px 13px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 10px;
    }
    .recovery__content a {
        font-size: 10px;
    }
    .veneers.v2 .row{
        margin-top: 60px;
    }
    .veneers_container {
        height: auto;
        min-height: 450px;
    }
}