.main-swiper-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-swiper-slide {
  max-width: 1120px;
  width: 77.7%;
  height: 756px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: bold;
  position: relative;
}
.main-swiper-slide > img {
  position: absolute;
  max-height: 834px;
  height: calc(100vh * 0.834);
  bottom: 0;
  right: -200px;
}
.main-swiper-slide__text {
  display: flex;
  flex-direction: column;
}
.main-swiper-slide__text h1 {
  width: 560px;
  margin-bottom: 0;
}
.main-swiper-slide__text p {
  width: 550px;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 30px;
  margin-bottom: 0;
}
.main-swiper-slide__text > div {
  display: flex;
  flex-direction: row;
  width: 320px;
  align-items: flex-start;
  gap: 20px;
}
.main-swiper-slide__text > div > img {
  height: 75px;
  width: 170px;
}
.main-swiper-slide__text > div > p {
  height: 90px;
  width: 130px;
}
.main-swiper-slide__text > div > p > span {
  font-size: 2rem;
  font-weight: bold;
}
.main-swiper-slide__text > *:nth-child(2) {
  margin-top: 30px;
}
.main-swiper-slide__text > *:nth-child(3) {
  margin-top: 50px;
}
.main-swiper-slide__text > *:nth-child(4) {
  margin-top: 59px;
}
.main-swiper-slide__text button {
  width: 265px;
  height: 60px;
}
.main-swiper {
  width: 100%;
  height: 756px;
}
.swiper-pagination-bullet {
  background-color: white;
}

@media (max-width: 768px) {
  .main-swiper-slide {
    width: 100%;
    align-items: flex-end;
    height: 460px;
    justify-content: center;
  }
  .main-swiper-slide * {
    margin: 5px 0 !important;
    text-align: center ;
    position: relative;
    z-index: 100;
  }
  .main-swiper-slide__text p, .main-swiper-slide__text a {
    width: 90%;
    font-size: 0.625rem;
  }
  .main-swiper-slide__text h1 {
    font-size: 1.5rem;
    width: 90vw;
  }
  .main-swiper-slide__text {
    align-items: center;
  }
  .main-swiper-slide__text button {
    width: 130px;
    height: 27px;
  }
  .main-swiper-slide > .img-fluid {
    top: -10%;
    left: 0;
    right: 0;
    /* bottom: 0; */
    z-index: 1;
    object-fit: contain;
  }
  .main-swiper-slide__text > div {
    position: absolute;
    top: -100px;
  }
  .main-swiper {
    height: 500px;
  }
  .main-swiper-slide__text > div > p > span {
    font-size: 20px;
  }
  .main-swiper-slide__text > div > p {
    height: auto;
    font-size: 0.5rem;
    margin: 0 !important;
    line-height: 110%;
    /* top: -15px; */
    width: 115px;
  }
  .main-swiper-slide__text > div {
    flex-direction: column;
    gap: 2px;
    align-items: flex-end;
  }
  .main-swiper-slide__text > div > img {
    width: 115px;
    height: 50px;
    margin: 0;
  }
  .swiper-slide.swiper-slide-next ,
  .swiper-slide {
    /* width: 10px !important; */
  }
}

@media (max-width: 500px) {
  .main-swiper-slide > .img-fluid {
    top: -20%;
  }
}