#main-page-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100vw;

    background-image:
    linear-gradient(rgba(241, 235, 232, 0.7), rgba(241, 235, 232, 0.7)),
    url("../../assets/aifile.png");
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-size: 230% 230%;
    /* z-index: -100; */
}
#main-page-wrapper > div:nth-child(2) {
    width: 100vw;
}
.metrics {
    background-color: #2E2E2E;
    color: white;
    height: 314px;
    width: 100%;
    padding-top: 74px;

    display: flex;
    justify-content: center;
    line-height: 100%;
}
.metrics > div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 185px;
    width: 77.7%;
    max-width: 1120px;
}
.metrics h3 {
    font-size: 14px;
}
.metrics p {
    font-size: 12px;
}
.metrics > div > div {
    min-width: 168px;
    max-width: 256px;

    margin-right: 98px;

    display: flex;
    flex-direction: column;
    gap: 25px 20px;
    align-items: flex-start;
    align-content: flex-start;
}
.metrics > div > div > img {
    height: 43px;
    width: 43px;
}
.metrics__openness {
    margin-right: 0 !important;
}

.veneers {
    width: 77.7%;
    max-width: 1120px;
    margin-top: 163px;
    max-height: 360px;
    height: auto;
}
.veneers p {
    margin-top: 26px;
    margin-bottom: 44px;
    line-height: 160%;
    font-weight: 400;
    font-size: 1rem;
}
.veneers a {
    padding: 14px 24px;
    background-color: #2E2E2E;
    color: white;
    border-radius: 90px;
}
.veneers a:hover {
    color: white !important;
}
.custom-img {
    position: relative;
    bottom: 60px;
}
.veneers.v2 h2 {
    
}