.main-swiper-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-swiper-slide {
  max-width: 1120px;
  width: 77.7%;
  height: 756px;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 24px;
  font-weight: bold;
  position: relative;
}
.main-swiper-slide>video {
  bottom: 330px;
  height: 100%;
  max-height: 834px;
  position: absolute;
  right: -100px;
  transform: scale(2);
  z-index: 1;
}

.main-swiper-slide__text {
  display: flex;
  flex-direction: column;
  z-index: 100;
  opacity: 0;
  transform: translateX(-20px);
  animation: fadeInText 1s ease forwards;
}

.main-swiper-slide__text h1 {
  margin-bottom: 0;
  width: 560px
}

.main-swiper-slide__text p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 30px;
  width: 550px
}

.main-swiper-slide__text>div {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 320px
}

.main-swiper-slide__text>div>img {
  height: 75px;
  width: 170px
}

.main-swiper-slide__text>div>p {
  height: 90px;
  width: 130px
}

.main-swiper-slide__text>div>p>span {
  font-size: 2rem;
  font-weight: 700
}

.main-swiper-slide__text>:nth-child(2) {
  margin-top: 30px
}

.main-swiper-slide__text>:nth-child(3) {
  margin-top: 50px
}

.main-swiper-slide__text>:nth-child(4) {
  margin-top: 59px
}

.main-swiper-slide__text button {
  height: 60px;
  width: 265px
}

.main-swiper {
  height: 756px;
  width: 100%
}

.swiper-pagination-bullet {
  background-color: #fff
}

.main-swiper-slide__text .tooth {
  margin-top: 0
}

.tooth span:first-child {
  font-size: 23px;
  font-weight: 700
}

.tooth span:last-child {
  font-size: 15px;
  font-weight: 500;
  text-align: start
}

.main-swiper-slide__text>div>p {
  flex-direction: column
}

@media (max-width:768px) {
  .main-swiper-slide {
      align-items: flex-end;
      height: 460px;
      justify-content: center;
      width: 100%
  }

  .main-swiper-slide * {
      margin: 5px 0 !important;
      position: relative;
      text-align: center;
      z-index: 100
  }

  .main-swiper-slide__text a,
  .main-swiper-slide__text p {
      font-size: .625rem;
      width: 90%
  }

  .main-swiper-slide__text p {
      line-height: 140%;
      width: 80%
  }

  .main-swiper-slide__text h1 {
      font-size: 1.5rem;
      width: 90vw;
  }

  .main-swiper-slide__text {
      align-items: center;
      display: flex;
      justify-content: center;
      position: absolute;
      width: 100%
  }

  .main-swiper-slide__text button {
      font-size: 16px;
      height: 27px;
      transform: translateY(15px);
      width: 130px
  }

  .main-swiper-slide>.img-fluid {
      left: 0;
      object-fit: contain;
      position: relative;
      top: -40px;
      transform: scale(1);
      z-index: 1
  }

  .main-swiper-slide__text>div {
      position: absolute;
      top: -100px
  }

  .main-swiper {
      height: 500px
  }

  .main-swiper-slide__text>div>p>span {
      font-size: 12px
  }

  .main-swiper-slide__text>div>p {
      align-items: center;
      display: flex;
      flex-direction: row;
      font-size: .5rem;
      gap: 2px;
      height: auto;
      line-height: 110%;
      margin: 0 !important;
      transform: translateX(10px);
      width: 120px
  }

  .tooth span:first-child {
      font-size: 23px;
      font-weight: 700
  }

  .tooth span:last-child {
      font-size: 8px;
      font-weight: 500;
      text-align: start
  }

  .main-swiper-slide__text>div {
      align-items: flex-end;
      flex-direction: column;
      gap: 2px
  }

  .main-swiper-slide__text>div>img {
      height: 50px;
      margin: 0;
      width: 115px
  }
}
@media (max-width:500px) {
  .main-swiper-slide > .img-fluid {
    transform: translateX(10px) translateY(-150px) scale(1.5);
  }
  .video-gradient {
    background: linear-gradient(360deg,rgba(241, 235, 232, 1) 80%, rgba(241, 235, 232, 0)100%);

    z-index: 2;
    width: 100vw;
    width: 100%;
    height: 30%;
    position: absolute;
  }
  .main-swiper-slide > .video-gradient {
    transform: translateX(10px) translateY(15px) scale(1.5);

  }

}