section {

    /* width: 77%; */
    /* width: 100vw; */
    /* max-width: 1120px; */
    width: 100vw;
    display: flex;
    justify-content: center;

}
.experience {
    margin-top: 130px;
    width: 1120px;
    height: 446px;
}
.experience > p {
    width: 570px;
    height: 48px;
    line-height: 150%;
}