section {
    width: 100vw;
    display: flex;
    justify-content: center;

}
.experience {
    margin-top: 130px;
    max-width: 1120px;
    width: 77.7%;
    height: 446px;
}
.experience > p {
    width: 570px;
    height: 48px;
    line-height: 150%;
}

@media (max-width: 768px) {
    .experience {
        margin-top: 50px;
        width: 90%;
        /* max-width: 375px; */
    }
    .experience > p {
        width: auto;
        height: auto;
    }
}