

.recovery {
    margin-top: 150px;
    width: 100%;
    background: rgb(46,46,46);
    background: linear-gradient(320deg, rgba(46,46,46,1) 43%, rgba(113,113,113,1) 100%);
    font-size: 1rem;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 605px;

    position: relative;
}
.recovery img {
    position: absolute;
    top: 0;
    right: 0;
    height: 605px;
}
.recovery__content {
    max-width: 1120px;
    width: 77.7%;
    height: 333px;

    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 100;
    line-height: 150%;
}
.recovery__content > div {
    width: 470px;
}
.recovery__content h2 {
    font-size: 2rem;
    line-height: 120%;
    margin-bottom: 30px;
}
.recovery__content button {
    border-radius: 100px;
    background-color: white;
    color: black;
    height: 46px;
    width: 170px;

    font-weight: bold;
    transition: 0.3s;
}
.recovery__content button:hover {
    background-color: var(--dark-gray);
    color: white;
}
.recovery__content button:active {
    background-color: black;
    color: white;
}

.recovery__content a {
    display: block;
    width: min-content;
    padding: 14px 24px;
    background-color: #2E2E2E;
    color: white;
    border-radius: 90px;
    transition: 0.3s;
    margin-top: 37px;
}
.recovery__content a:hover {
    color: var(--dark-gray) !important;
    background-color:  white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .recovery {
        height: auto;
        background-color: transparent;
        background-image: none;
        margin-top: 200px;
        color: black;
    }
    .recovery__content a {
        padding: 10px 13px;
    }
    .recovery img {
        height: 220px;
        max-width: 100%;
        top: 55px;
        position: static;
    }
    .recovery__content {
        width: 90%;
        /* max-width: 375px; */
        height: auto;
    }
    .recovery__content > div{
        width: 100%;
        position: relative;
        line-height: 140%;
        font-size: 12px;
        height: auto;
    }
    .recovery__content p {
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .recovery h2 {
        width: 90%;
        /* max-width: 375px; */
    }
    .recovery__content button {
        text-transform: uppercase;
        width: max-content;
        height: auto;
        color: white;
        background-color: var(--dark-gray);
    }
    .recovery__content button:hover {
        color: var(--dark-gray);
        background-color:  white;

    }
}