.service h2 {
    margin-bottom: 50px;
    margin-top: 112px;
}
.service {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.service > div {
    width: 80%;
    max-width: 1120px;
    height: 728px;

}
.service-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;

    height: 520px;
    gap: 20px;
}
.service__card p, .service__card h3 {
    z-index: 100;
}
.service__card p{
    font-size: 12px;
    line-height: 140%;
}
.service__card h3 {
    font-size: 20px;
}
.service__card {
    height: 250px;
    position: relative;

    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);

    display: flex;
    flex-direction: column;
    width: auto;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
}
.service__card img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
}
.service__card:nth-child(4) > img {
    bottom: -50px;
}
.service__card:hover {
    background-color: var(--dark-gray);
    color: white;
}
/*adding unique sizes and missing blocks*/

.service__card:nth-child(1) {
    width: 312px;
}
.service__card:nth-child(1) > p {
    width: 174px;
}

.service__card:nth-child(2), .service__card:nth-child(7)  {
    width: 210px;
}
.service__card:nth-child(2) > p, .service__card:nth-child(7) > p  {
    width: 134px;
}

.service__card:nth-child(3), .service__card:nth-child(4), .service__card:nth-child(5) {
    width: 265px
}
.service__card:nth-child(3) > p, .service__card:nth-child(4) >p, .service__card:nth-child(5) >p {
    width: 210px
}

.service__card:nth-child(6) {
    width: 360px;
}
.service__card:nth-child(6) > p{
    width: 214px;
}

.service__card:nth-child(8) {
    width: 216px;
}
.service__card:nth-child(8) > p {
    width: 142px;
}

/* positioning the button in the center */

.service__button-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

@media (max-width: 768px) {
    .service-flex {
        height: auto;
        flex-wrap: wrap;
    }
    .service__card__mobile {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        padding: 10px;
        box-sizing: border-box;
        height: 100%;
        position: relative;
    }
    .service__card__mobile:hover {
        background-color: var(--dark-gray);
        color: white;
    }
    .service > div {
        width: 90%;
        /* max-width: 375px; */
        height: auto;
    }
    .service__card__mobile p {
        font-size: 6px;
        line-height: 140%;
        max-width: 84px;
        margin-bottom: 0;
    }
    .service__card__mobile h3 {
        font-size: 10px;
        max-width: 67px;
        margin: 0;
        margin-bottom: 5px;
    }
    .service-flex{
        gap: 0px;
    }
    .service__card__mobile img {
        position: absolute;
        bottom: 0;
        right: 5px;
        z-index: 0;
        object-fit: cover;
        max-width: 120px;
    }
    .service-flex.row {
        width: 100%
    }
    .service-flex .col-4 {
        height: 150px;
    }
    .service-flex .col-6 {
        height: 95px;
    }
    .service-flex .col-4:first-child img,
    .service-flex .col-6:first-of-type img  {
        max-width: 50px;
    }
    .service__button-container {
        margin-top: 25px;
    }
    .service__button-container button {
        width: 100px;
        height: 25px;
    }
    .service__button-container button a {
        font-size: 0.5rem;
        padding: 8px 13px;
        vertical-align: middle;
    }
    .service h2  {
        margin-top: 50px;
        margin-bottom: 15px;
    }
}