.kids-doctors {
    max-width: 1120px;
    width: 77%;
    margin-top: 150px;
}
.kids-doctors__grid {
    margin-top: 50px;
}
.kids-doctors__grid {
    width: 100%;
}
.doctor-card {
    max-width: 235px;
}
.doctor-card img {
    width: 215px;
    height: 345px;
}
.doctor-card * {
    max-width: 235px;
}
.kids-doctors__grid button {
    background-color: #C3D4DE;
    color: black;
}
.kids .service__button-container a {
    text-decoration: none;
    background-color: transparent;
    border: 1px solid var(--dark-gray);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 100px;
    padding: 22px 0;
    text-transform: uppercase;
    box-sizing: border-box;
}
.kids a:hover {
    border-color: #C3D4DE;
    color: initial;
    background-color: #C3D4DE;
}