.kids-doctors {
    max-width: 1120px;
    width: 77.7%;
    margin-top: 150px;
}
.kids-doctors__grid {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,auto);
    
    position: relative;
    left: -16px;
}
.doctor-card {
    max-width: 235px;
}
.doctor-card img {
    width: 215px;
    height: 345px;
}
.doctor-card * {
    max-width: 235px;
}
.kids-doctors__grid button {
    background-color: #C3D4DE;
    color: black;
    transition: 0.3s;
}
.kids-doctors__grid button:hover {
    color: white;
    background-color:var(--dark-gray);
}
.kids .service__button-container a {
    text-decoration: none;
    background-color: transparent;
    border: 1px solid var(--dark-gray);
    font-size: 16px;
    font-weight: bold;
    border-radius: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 64px;
    padding-right: 64px;
    text-transform: uppercase;
    box-sizing: border-box;
    transition: 0.3s;
}
.kids .service__button-container a:hover {
    background-color: #C3D4DE;
}
.kids a:hover {
    border-color: #C3D4DE;
    color: initial;
}
.kids .default-card__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}
.kids hr {
    display: none;
}
.kids .default-card__text p {
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 40px;
    max-width: 477px;
}


.doctor-card h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
}
.doctor-card > * {
    margin: 0;
}
.doctor-card p {
    font-weight: 600;
    line-height: 150%;
    font-size: 14px;
}
.doctor-card {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
}
@media (max-width: 768px) {
    .kids-doctors {
        width: 90%;
        margin-top: 50px;
    }
    .kids-doctors__grid {
        width: 90%;
        margin-top: 20px;
        gap: 25px;
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(3, auto);

        margin-left: 26px;
        margin-right: auto;
        margin-top: 20px;
        width: 90%;
    }
    .doctor-card {
        margin: 0;
        max-width: 90px;
        /* height: 200px; */
        height: auto;
        max-height: 100%;
        padding: 0;
        width: 100%;
        gap: 11px;
        display: flex
        ;
        flex-direction: column;
        justify-content: space-between;
    }
    .kids-doctors .doctor-card {
        gap: 5px;
    }
    .doctor-card img {
        width: 90px;
        height: 143px;
    }
    .doctor-card > * {
        margin-top: 0px !important;
        /* margin-bottom: 2px !important; */
    }
    .doctor-card h3 , .doctor-card p{
        font-size: 6px;
        margin: 0;
    }
    .kids-doctors__grid button {
        height: 13px;
        width: 40px;
        font-size: 5px;
        background-color: var(--dark-gray);
    }
    .doctor-card p {
        height: 10px;
        line-height: 140%;
    }
    .kids .default-card__text p {
        font-weight: 500;
    }

    .details-button{
        /* margin-top: 10px !important; */
        display: flex    ;
        align-items: center;
        justify-content: center;
        height: 13px;
        width: 40px;
        font-size: 5px;
    }

    .kids .service__button-container a {
        /* padding: 6px 25px; */
        padding: 0 20px;
        font-size: 0.5rem;
        background-color: var(--dark-gray);
        color: white;
        border: none;
    }
}
@media (width: 425px) { 
    .kids-doctors__grid {
        margin-left: 8px;
    }
}
@media (max-width: 370px) { 
    .kids-doctors__grid {
        display: grid;
        grid-template-columns: repeat(2, auto);
        margin-left: -8px;
    }
}