.main-page-wrapper__pictures {
    height: 100vh;
    width: 100vw;
    position: absolute;
}
.main-page-wrapper__pictures img {
    position: absolute;
    z-index: 0;
}
.kids > *:not(.main-page-wrapper__pictures) {
    z-index: 100;
    position: relative;
}
.star-picture {
    left: 0;

}
.house-picture {
    right: 0;
}
.smile-star-picture {
    left: 0;
    top: 1348px;
}
.flower-picture {
    right: 0;
    top: 1912px;
}
.rocket-picture {
    left: 500px;
    top: 1756px;
}

.flower-pink-picture {
    left: 0;
    top: 2576px;
}
.cat-picture {
    right: 176px;
    top: 2634px;
}
.curve-picture {
    right: 0;
    top: 3300px;
}

.flower-yellow-picture {
    left: 0;
    top: 3670px;
}
.rainbow-picture {
    right: 0;
    top: 3994px;
}
.star2-picture {
    right: 231px;
    top: 4372px;
}

.kids .video {
    background-image: url("../../assets/video_preview_kids.png");
}

@media (max-width: 768px) {
    .main-page-wrapper__pictures > img {
        width: 100px;
    }
    .smile-star-picture {
        display: none;
    }
}