.kids-services {
    max-width: 1120px;
    width: 77.7%;
    height: 613px;

}
.kids-services .button {
    padding: 10px 30px;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 700;
    width: auto;
    height: auto;
}
.new-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.kids-services__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(2, 250px);
    gap: 20px;
    margin-top: 50px;
    width: 100%;

    font-size: 1.25rem;
    font-weight: bold;
}
.kids-services__grid > div {
    background-color: white;
    height: 250px;
    width: auto;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30%;

    transition: 0.3s;
}
.kids-services__grid > div:hover {
    transform: scale(1.05,1.05);
    cursor: pointer;
}
.kids-services__grid > div > p {
    margin-right: 100px;
    margin-left: 30px;
    line-height: 140%;
    font-weight: 700;
    font-size: 20px;
}
.kids-services__grid > div:nth-of-type(4) > p {
    margin-right: 10px;
}
.kids-services__grid > div > div {
    height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
    box-sizing: border-box;

    color: white;
}
.kids-services__grid > div:nth-of-type(4) {
    gap: 20%;
}
.kids-services__grid > div > div:first-of-type {
    background-color: #EDD49A;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.kids-services__grid > div:nth-of-type(2) > div {
    background-color: #F0C1D2;
}
.kids-services__grid > div:nth-of-type(3) > div {
    background-color: #A8C6A3;
}
.kids-services__grid > div:nth-of-type(4) > div {
    background-color: #EEBD9A;
}
.kids-services__grid > div:nth-of-type(5) > div {
    background-color: #8DA4B5;
}
.kids-services__grid > div:last-child{
    height: 57px;
    background-color: #C3D4DE;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 15px;
}
.kids-services__grid > div:last-child p{
    margin: 0;
}
.kids-services__grid  {
    padding: 20px;
    box-sizing: border-box;
}
.kids-services__grid > div:last-child a{
    border-radius: 70px;
    font-size: 0.75rem;
    background-color: var(--dark-gray);
    color: white;
    padding: 10px 16px;
    margin-right: 15px;
    font-weight: 500;
    line-height: 100%;
    margin: 0;
}
.kids-services__grid > div:last-child a:hover {
    color: white !important;
}
@media (max-width: 768px) {
    .kids-services {
        width: 90%;
        margin-top: 50px;
    }
    .kids-services .button {
        padding: 5px 10px;
        vertical-align: middle;
        font-size: 10px;
        font-weight: 700;
        width: auto;
        height: auto;
    }
    .rocket-picture {
        left: 300px;
        top: 480px;
    }
    .cat-picture {
        top: 1350px;
        left: 250px;
    }
    .flower-yellow-picture {
        top: 2150px;
        /* left: 300px; */
    }
    .rainbow-picture {
        top: 2200px;
    }
    .flower-picture {
        display: none;
    }
    .curve-picture {
        display: none;
    }
    .star2-picture {
        top: 2050px;
        left: 250px;
    }
    .flower-pink-picture {
        top: 1700px;
    }
    .kids-services__grid {
        grid-template-columns:  repeat(2, minmax(160px, 280px));
        gap: 15px;
        grid-template-rows: repeat(2, 100px);
        padding: 0;
        /* box-sizing: border-box; */
        width: 100%;
    }
    .kids-services__grid > div {
        font-size: 9px;
        gap: 25px;
        line-height: 140%;
        height: 100px;
        border-radius: 11px;
    }
    .kids-services__grid > div > div:first-of-type {
        height: auto;
        padding: 10px;
    }
    .kids-services__grid > div > p {
        font-size: 9px;
        margin: 10px;
        margin-top: 20px;
    }
    .kids-services {
        height: auto;
    }

    .kids-services__grid > div > div:first-of-type {

        border-bottom-right-radius: 11px;
        border-bottom-left-radius:11px;
    }
}