.kids-services {
    max-width: 1120px;
    width: 77%;
    height: 613px;

}
.kids-services__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(2, 250px);
    gap: 20px;
    margin-top: 50px;
    width: 100%;

    font-size: 1.25rem;
    font-weight: bold;
}
.kids-services__grid > div {
    background-color: white;
    height: 250px;
    width: auto;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20%;

    transition: 0.3s;
}
.kids-services__grid > div:hover {
    transform: scale(1.05,1.05);
    cursor: pointer;
}
.kids-services__grid > div > p {
    margin-right: 130px;
    margin-left: 30px;
}
.kids-services__grid > div > div {
    height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
    box-sizing: border-box;

    color: white;
}
.kids-services__grid > div:nth-of-type(4) {
    gap: 10%;
}
.kids-services__grid > div > div:first-of-type {
    background-color: #EDD49A;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.kids-services__grid > div:nth-of-type(2) > div {
    background-color: #F0C1D2;
}
.kids-services__grid > div:nth-of-type(3) > div {
    background-color: #A8C6A3;
}
.kids-services__grid > div:nth-of-type(4) > div {
    background-color: #EEBD9A;
}
.kids-services__grid > div:nth-of-type(5) > div {
    background-color: #8DA4B5;
}
.kids-services__grid > div:last-child{
    height: 130px;
    background-color: #C3D4DE;
    flex-direction: row;
    gap: 0;
    align-items: center;

}
.kids-services__grid > div:last-child p{
    margin: 0;
    margin-left: 30px;

}
.kids-services__grid > div:last-child a{
    border-radius: 70px;
    font-size: 0.75rem;
    background-color: var(--dark-gray);
    color: white;
    padding: 10px 16px;
    margin-right: 15px;
}
.kids-services__grid > div:last-child a:hover {
    color: white !important;
}