.cases {
    /* width: 77.7%; */
    width: 1120px;
    margin-top: 50px;
}
.cases  > section {
    justify-content: flex-start;
}
.patient-story-card {
    background-color: transparent;
    border: none !important;
    box-shadow: none !important;
}
.patient-story-card {
    width: 50%;
}
.patient-story-card .card-body {
    width: 100%;
    padding: 45px 0px 45px 40px;
}
.cases h1 {
    font-size: 4rem;
    font-weight: 800;
    line-height: 120%;
}
.cases  h2, .cases .card-title {
    font-size: 2rem;
    font-weight: 800;
    line-height: 120%;
}
.cases .card-title p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
}
@media (max-width: 768px) {
    .cases.column {
        width: 90%;
        margin-top: 50px;
        margin-bottom: 25px;
    }
    .card-img-top {
        height: 157px;
        width: auto;
    }
    .patient-story-card {
        width: 100%;
    }
    .cases {
        margin-top: 25px;
    }
    .cases .card-title{
        font-size: 18px;
    }
    .cases p, .cases button {
        font-size: 10px;
        line-height: 140%;
    }
    .cases button {
        height: 27px;
        width: 100px;
    }
    .cases .image-wrapper {
        display: flex;
        align-items: center;
    }
    .cases h1 {
        font-size: 24px;
    }
    .cases h2 {
        font-size: 16px;
    }
    .cases p {
        font-size: 12px;
    }
}