
.department {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.department h2 {
    margin-bottom: 70px;
}
.department > div {
    width: 1123px;
    display: flex;
    flex-direction:column;
}
.department-inner {
    display: flex;
    gap: 17px;
}
.department__adults, .department__kids {
    width: 550px;
    height: 265px;
    border-radius: 15px;
    padding: 40px;
    box-sizing: border-box;

    position: relative;

}
.department__adults > img, .department__kids > img {
    position: absolute;
    right: 0;
    bottom: 0;
}
.department__adults {
    color: black;
    background: rgb(238,234,232);
    background: linear-gradient(200deg, rgba(238,234,232,1) 11%, rgba(255,255,255,1) 100%);
}
.department__kids {
    color: white;
    background: rgb(31,31,31);
    background: linear-gradient(320deg, rgba(31,31,31,1) 20%, rgba(43,43,43,1) 64%, rgba(69,69,69,1) 92%);
}

.department__kids__links, .department__adults__links {
    height: 58px;
    min-width: 90px;
    display: flex;
    flex-direction: column;
    gap:30px;
    
}
.department__kids__links h3, .department__adults__links h3 {
    font-size: 20px;
}
