/* .swiper {
  width: 100%;
  height: 756px;
  display: flex;
  justify-content: center;
} */
.main-swiper-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-swiper-slide {
  width: 1123px;
  height: 756px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: bold;
  position: relative;
}
.main-swiper-slide > img {
  position: absolute;
  height: 834px;
  /* width: 1032px; */
  bottom: 0;
  right: -200px;
}
.main-swiper-slide__text {
  display: flex;
  flex-direction: column;
  /* gap: 30px 50px 59px; */
}
.main-swiper-slide__text h1 {
  width: 560px;
}
.main-swiper-slide__text p {
  width: 516px;
  font-weight: lighter;
  font-size: 1rem;
}
.main-swiper-slide__text > div {
  display: flex;
  flex-direction: row;
  width: 320px;
  align-items: center;
  gap: 20px;
}
.main-swiper-slide__text > div > img {
  height: 75px;
  width: 170px;
}
.main-swiper-slide__text > div > p {
  height: 90px;
  width: 130px;
}
.main-swiper-slide__text > div > p > span {
  font-size: 2rem;
  font-weight: bold;
}
.main-swiper-slide__text > *:nth-child(2) {
  margin-top: 30px;
}
.main-swiper-slide__text > *:nth-child(3) {
  margin-top: 50px; 
}
.main-swiper-slide__text > *:nth-child(4) {
  margin-top: 59px;
}

/* .swiper-slide:nth-child(1) { background: lightblue;
300deg, rgba(222,229,239,0.5) 0%, rgba(238,234,232,0.5) 40%, rgba(245,236,229,0.5) 100%  }
.swiper-slide:nth-child(2) { background: lightgreen; }
.swiper-slide:nth-child(3) { background: lightcoral; } */