
.history-title {
    width: 77.7%;
    max-width: 1120px;
}

.history-title img {
    width: 110%;
    max-width: 680px;
    background-size: cover;
    position: relative;
    left: -7vw;
}
.history-title h1 {
    font-weight: 800;
    margin-top: 90px;
    margin-bottom: 0;
}
.history-title h2 {
    margin-bottom: 30px;
    font-weight: 800;
}
.history-title p {
    font-weight: 600;
    font-size: 1rem;
    line-height: 150%;
}
.history-title  .split-text {
    line-height: 1.5; /* Общий межстрочный интервал */
}

.history-title  .first-sentence {
font-weight: 600; /* Полужирный текст */
margin-bottom: 1em; /* Отступ в одну строку */
}

.history-title .rest-text {
font-weight: 400; /* Обычный текст */
}
.diagnostics {
    width: 100%;
    background-color: var(--dark-gray);
    color: white;
}
.diagnostics__blocks {
    max-width: 1120px;

}

.diagnostics > div {
    width: 77.7%;
    display: flex;
    justify-content: center;
}
.diagnostics > div > div {
    max-width: 1120px;
    width: 100%;
}

.diagnostics__blocks > div > div {
    background-color: white;
    color: black;
    position: relative;

    height: 250px;
    overflow: hidden;
    border-radius: 10px;
}
.diagnostics__blocks > div:nth-of-type(odd) > div {
    width: 215px;
}
.diagnostics__blocks > div:nth-of-type(even) > div {
    width: 300px;
}
.diagnostics__blocks > div > div p {
    max-height: 100px;
    max-width: 215px;
    z-index: 100;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}
.diagnostics__blocks img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

}
.diagnostics__blocks .even-block img {
    width: 60%;
    height: auto;
}
.diagnostics__blocks .odd-block img {
    width: 100%;
    height: auto;
}
.diagnostics__blocks #unique-image {
    width: 80%;
}
/* .diagnostics__blocks .odd-block {
    width: 20.2%;
}
.diagnostics__blocks .even-block {
    width: 28.3%;
} */
.margin-top-100 {
    margin-top: 100px;
}
.margin-bottom-100  {
    margin-bottom: 100px;
}


.stages, .result, .team {
    width: 77.7%;
    max-width: 1120px;
}

.stages__stage > div {
     color: white;
     background-color: var(--dark-gray);
     border-radius: 10px;
     padding: 20px;
     box-sizing: border-box;
     position: relative;
     min-height: 250px;
}
.stages__stage h3 {
    font-size: 1.25rem;
    /* white-space: nowrap; */
    margin-bottom: 30px;
}
.stages__stage p {
    font-size: 0.75rem;
    line-height: 140%;
    white-space: pre-line;
}
.stages__stage img {
    position: absolute;
    right: 20px;
    bottom: 20px;
    max-width: 180px;
}

.result {
    width: 77.7%;
    max-width: 1120px;
}
.result p {
    font-weight: 600;
    font-size: 1rem;
    line-height: 150%;
}
.result > div > .col-md-6 {
    margin-top: 20px;
}
.team .col-3 {
    margin-right: 100px;
}
.team img {
    padding: 0;
}
.team h3 {
    margin-top: 26px;
    margin-bottom: 10px;
    font-weight: 700;
}
.team p {
    margin-bottom: 34px;
    font-weight: 600;
}
 .team-block {
    gap: 60px;
 }
.team a {
    padding: 10px;
    background-color: var(--dark-gray);
    color:  white;
    font-size: 0.75rem;
    border-radius: 70px;
    transition: 0.3s;
}
.team a:hover {
    background-color: white;
    color: var(--dark-gray);
}
.history-title .col-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.history-title {
    flex-direction: column;
    align-items: center;
    display: flex;
}
.history-title > div {
    /* width: 130%; */
}
.result .thanks {
    width: 70%;
}
@media (max-width: 768px) {
    .margin-bottom-100 {
        margin-bottom: 25px;
    }
    .margin-top-100 {
        margin-top: 25px;
    }
    .result .thanks {
        width: 75%;
    }
    .history-title {
        width: 90%;
        max-height: 100%;
        align-items: center;
        align-content: center;
    }
    .history-title p {
        line-height: 150%;
        font-size: 7px;
    }
    .stages__stage > div {
        padding: 15px;
    }
    .diagnostics__blocks .odd-block img {
        bottom: -15px;
    }
    .history-title img {
        /* left: auto;
        width: auto;
        margin-left: 0; */
        width: 170%;
        left: -12vw;
        margin-left: 0;
        background-size: contain;
    }
    .history-title h2 {
        font-size: 12px;
        margin: 15px 0;
    }
    .history-title h1 {
        font-size: 24px;
        margin-bottom: 0;
        margin-top: 0;
    }
    .diagnostics > div {
        width: 90%;
    }
    .diagnostics {
        margin-top: 0;
    }
    .diagnostics__blocks .odd-block {
        width: 40%;
    }
    .diagnostics__blocks .even-block{
        width:60%;
    }
    .diagnostics__blocks > div > div {
        font-size: 10px;
        line-height: 150%;
        height: 131px;
        margin: 0;
    }
    .diagnostics__blocks > div:nth-of-type(odd) > div {
        width: auto;
    }
    .diagnostics__blocks > div:nth-of-type(even) > div {
        width: auto;
    }
    .diagnostics__blocks>div>div p {
        padding: 8px;
    }
    .diagnostics__blocks #unique-image {
        width: 60%;
    }
    .diagnostics__blocks .even-block img {
        width: 40%;
    }
    .stages, .result, .team {
        width: 90%;
    }
    .stages {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    .stages__stage h3 {
        font-size: 1rem;
    }
    .stages__stage p {
        font-size: 10px;
    }
    .stages__stage > div {
        min-height: 200px;
    }
    .result p {
        font-size: 12px;
        line-height: 150%;
    }
    .result img {
        max-width: 100%;
    }
    .team h3 , .team p{
        margin: 0;
        font-size: 6px;
        max-width: 100%;
    }
    .team img {
        max-width: 100%;
    }
    .team a {
        padding: 4px;
        font-size: 5px;
    }
    .team > div {
        align-items: flex-end;
    }
    .stages__stage img {
        right: 20px;
        bottom: 20px;
        position: absolute;
        max-width: 130px;
    }
}
