.list-of-services {
    max-width: 1120px;
    width: 77.7%;
}
.list-of-services__title h2 {
    font-size: 2rem;
}
.item-01 h3 {
    font-size: 2rem;
}
.item-02 h3 {
    font-size: 1.25rem;
}
.item-01 p , .item-02 p {
    font-size: 1rem;
}
.item-01 p {
    font-weight: 500;
    padding-right: 52px;
    line-height: 150%;
    margin-bottom: 0;
}
.item-02 p {
    color: rgba(31, 31, 31, 1);
    font-weight: 700;
    line-height: 140%;
    font-size: 0.75rem;
    opacity: 0.7;
    width: 95%;
}
.item-01, .item-02 {
    padding: 30px;
    box-sizing: border-box;
    line-height: 140%;

    /* min-height: 260px; */
    height: auto;

}
.item-02 > div > div {

    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}
.item-01 {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.item-02 {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    align-items: flex-start;
}
.item-01 a{
    font-size: 10px;
    border-radius: 30px;
    padding: 6px 8px;
    height: 32px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-top: 20px;
    font-weight: bold;
    vertical-align: middle;

    background-color: var(--color5);
    color: var(--color4)
}
.item-01 a:hover {
    color: var(--color4) !important;
}
.item-01 a:first-of-type {
    left: 15px;
    width: 145px;
}
.item-01 a:last-of-type {
    left: 30px;
    width: 122px;
}
.special2 {
    padding: 0;
}
.item-01 > .item {
    height: 100%;
    align-content: space-between !important;
}
.item-01 {
    /* padding-bottom: ; */
}
.icons-mobile {
   flex-direction: row;
   align-items: center;
   gap: 10px;
   margin-bottom: 15px;
}
.icons-mobile img {
    width: 35px;
    height: 35px;
}
@media (max-width: 768px) {
    .item-01, .item-02 {
        border-radius: 30px;
        margin: 0;
        padding: 20px;
        box-sizing: border-box;
    }

    .item-01 {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .item-02 {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        margin-bottom: 20px;
    }
    .list-of-services {
        width: 90%;
    }
    .list-of-services__title h2 {
        font-size: 1rem;
    }
    .item-01 h3 , .item-02 h3{
        font-size: 14px;
    }
    .item-01 p, .item-02 p {
        font-size: 8px;
        line-height: 140%;
    }
    .item-01 p {
        padding-right: 0;
    }
    .special2 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 0px;
        position: relative;
        right: -20px;
    }
    .item-01 a {
        font-size: 7px;
        font-weight: 600;
        text-transform: uppercase;
        width: 80px !important;
        height: 20px !important;
        padding: 0;
        text-align: center;
        vertical-align: middle;
    }
    .item-01 a:first-of-type {
        left: 0;
        margin-top: 0px;
    }
    .item-01 a:last-of-type {
        left: 0;
        margin-top: 5px;
    }
    .item-02 > div > div {
        padding: 10px
    }
    .item-02 p {
        margin-bottom: 0;
    }
}