.pattern-block {
    width: 77.7%;
    max-width: 1120px;
    margin-top: 70px;
}
.pattern-block .margin100 {
    margin-top: 100px;
}
.pattern-block__image {
    max-height: 85px;
    aspect-ratio: 1/1;
}
.pattern-block__guide {
    margin-left: 25px;
}
.pattern-block__guide p {
    font-size: 1.25rem;
    margin: 0;
}
.pattern-block__guide h3 {
    font-size: 2rem;
    margin: 0;
}

.pattern-block__text * {
    position: relative;
}
.pattern-block__text img {
    max-width: 510px;
    width: 100%;
    /* aspect-ratio: 1.172 / 1; */

}

.pattern-block__text h1 {
    font-size: 50px;
    z-index: 100;
    margin-bottom: 30px;
}
.pattern-block__text.block2 h2 {
    margin-bottom: 30px;
}
.pattern-block__text p {
    font-size: 1rem;
    line-height: 150%;
    z-index: 100;
    width: 90%;
}
.pattern-block__text.block2 .blockH2 {
    margin-left: 50px;
}
.pattern-block__text.block2 img {
    max-width: 520px;
}

.pattern-block__buttons button {
    border: 2px solid var(--dark-gray);
    border-radius: 100px;
    font-weight: bold;
    font-size: 1rem;
    padding: 17px 0;
    width: 100%;
    transition: 0.3s;
}
.pattern-block__buttons button:hover {
    background-color: var(--dark-gray);
    color: white;
}
.pattern-block__buttons a {
    border: 2px solid var(--dark-gray);
    border-radius: 100px;
    font-weight: bold;
    font-size: 1rem;
    padding: 17px 0;
    width: 100%;
    transition: 0.3s;
    text-align: center;
}
.pattern-block__buttons a:hover {
    background-color: var(--dark-gray);
    color: white !important;
    text-decoration: none;
}
.pattern-block .abilities > div > div > div {
    background-color: white;
    border-radius: 15px;
    height: 235px;
}
.element > div {
    background-color: white;
    height: 250px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;

    overflow: hidden;
    transition: 0.3s;
}
.element > div:hover {
    transform: scale(1.03);
}
.element > div h3 {
    font-size: 20px;
}
.element > div > div {
    background-color: #D6D0C2;
    height: 70px;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.element > div > h3{
    margin-top: 35px;
    margin-left: 30px;
    margin-right: 30px;
}
.pattern-block__services .all-price-el {
    justify-content: center;
}
.pattern-block__services .all-price-el div {
    background-color: var(--dark-gray);
    height: 60px;
    padding: 0 50px;
    vertical-align: middle;
    border-radius: 100px;
    max-width: 265px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 50px; */
}
.pattern-block__services .all-price-el a {
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
}
.pattern-block__services .all-price-el a:hover {
    color: white !important;
}
.pattern-block__questions__accordeon .accordion{
    border-radius: 0;
}
.pattern-block__questions__accordeon .accordion-item {
    height: 248px;
    background-color: transparent;
    border: none;
    border-top: 1px solid rgba(21, 17, 14, 0.2);
    border-bottom: 1px solid rgba(21, 17, 14, 0.2);
    padding: 30px 0;
}
.pattern-block__questions__accordeon .accordion-header button{
    background-color: transparent;
    font-size: 2rem;
    font-weight: lighter;
    border: none;
    box-shadow: none;
}
.pattern-block__questions__accordeon .accordion-body {
    font-size: 20px;
}

.pattern-block__questions__accordeon .accordion-button::after {
    display: none !important;
}
.transition-transform {
    transition: transform 0.3s ease;
}

.rotate-180 {
    transform: rotate(180deg);
}
/* Add plus */
.pattern-block__questions__accordeon .accordion-button:not(.collapsed)::before,
.pattern-block__questions__accordeon .accordion-button::before {
    content: "+";
    font-size: 4rem;
    font-weight: 300;
    position: absolute;
    right: 1rem;
    transition: transform 0.3s ease;
    transform: rotate(45deg);
}

/* Rotate plus */
.pattern-block__questions__accordeon .accordion-button:not(.collapsed)::before {
    transform: rotate(90deg);
}
.pattern-block__questions__accordeon .accordion-button:not(.collapsed) {
    color: black;
}
.custom_button {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.customLink {
    text-align: right;
    width:auto;
    padding: 11px 26px;
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: var(--dark-gray);
    color: white;
    transition: 0.3s;
}
.customLink:hover {
    color: white !important;
}
@media (max-width: 768px) {
    .pattern-block .iconService img {
        height: 54px;
        width: 54px;
    }
    .pattern-block__text.block2 .blockH2 {
        margin-left: 0;
    }
    .pattern-block .iconService {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .pattern-block {
        width: 90%;
    }
    .pattern-block__guide h3 {
        font-size: 14px;
    }
    .pattern-block__guide p {
        font-size: 8px;
        line-height: 150%;
        white-space: nowrap;
    }
    .pattern-block__image {
        max-height: 41px;
    }
    .pattern-block__guide {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-left: -10px;
        padding-left: 0;
    }
    .pattern-block .col-md-1 {
        display: flex;
        justify-content: flex-end;
    }
    .pattern-block {
        margin-top:0px;
    }
    .pattern-block__text p {
        font-size: 12px;
        line-height: 150%;
    }
    .pattern-block__text img, .pattern-block__text.block2 img{
        aspect-ratio: auto;
    }
    .pattern-block__text.block2 img {
        width: 110vw;
        left: -6%;

    }
    .pattern-block__buttons button {
        padding: 10px 23px;
        font-size: 10px;
        line-height: 140%;
        border-width: 1px;
    }
    .pattern-block__text button:hover {
        text-decoration: underline;
    }
    .pattern-block__buttons a {
        border-radius: 100px;
        font-weight: bold;

        padding: 10px 23px;
        font-size: 10px;
        line-height: 140%;
        border-width: 1px;

        width: 100%;
        transition: 0.3s;
        text-align: center;
    }
    .pattern-block__buttons a:hover {
        background-color: var(--dark-gray);
        color: white !important;
        text-decoration: none;
    }
    .pattern-block__text p {
        line-height: 140%;
    }
    .pattern-block__text button {
        font-size: 12px;
    }
    .pattern-block .margin100 {
        margin-top: 50px;
    }
    .imp p {
        margin: 5px 0;
        line-height: 140%;
    }
    .imp {
        background-color: white;
        border-radius: 15px;
        padding: 15px;
    }
    .imp > div > div, .imp > div{
        max-width: 100%;
        padding: 0;
        position: relative;
        left: 2%;
    }
    .imp > div > div {
        margin-top: 10px;
    }
    .imp button {
        text-align: start;
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .imp button:hover {
        text-decoration: underline;
    }

    .pattern-block .abilities > div > div > div {
        background-color: transparent;
        padding: 0;
    }
    .abilities h3 , .abilities p{
        font-size: 10px;
        line-height: 140%;
    }
    .abilities img {
        width: 40px;
        height: 40px;
    }
    .abilities {
        position: relative;
    }
    .abilities > div {
        max-width: 100%;
        position: relative;
        left: 3%;
    }
    .element > div {
        border-radius: 11px;
        height: 80px;
    }
    .element > div h3 {
        margin: 10px;
        font-size: 9px;
    }
    .element > div > div {
        padding-left: 10px;
        height: 30px;
    }
    .element > div > div > h3 {
        margin-left: 0;
        /* margin-top: 5px;
        margin-bottom: 5px; */
    }
    .customLink {
        font-size: 8px;
        background-color: rgba(136, 125, 99, 1);
        color: white;
        border-radius: 60px;
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 140%;
        padding: 6px 13px;
        width: auto;
        max-width: 100px;
        white-space: nowrap;
        left: -3%;
    }
    .customLink:hover {
        background-color: var(--dark-gray);

    }
    .pattern-block__questions__accordeon .accordion-header button {
        font-size: 12px !important; /* Размер текста */
        min-height: 40px !important; /* Высота блока */
        padding: 10px 0 !important; /* Уменьшаем отступы */
      }

      .pattern-block__questions__accordeon .accordion-body ,
      .accordion-item:first-of-type>.accordion-header .accordion-button, .pattern-block__questions__accordeon .accordion-button:not(.collapsed), .button:focus:not(:focus-visible), .pattern-block__questions__accordeon .accordion-header button {
        font-size: 12px; /* Размер текста контента */
      }

      .pattern-block__questions__accordeon .accordion-button::before {
        font-size: 2rem !important; /* Уменьшаем плюсик */
        right: 0.5rem !important; /* Сдвигаем ближе к краю */
      }

      .pattern-block__questions__accordeon .accordion-item , .pattern-block__questions__accordeon .accordion-body{
        height: auto; /* Автоматическая высота */
        padding: 5px 0; /* Уменьшаем отступы */
      }

}