.pattern-block {
    width: 77.7%;
    max-width: 1120px;
    margin-top: 70px;
}
.pattern-block .margin100 {
    margin-top: 100px;
}
.pattern-block__image {
    max-height: 85px;
    aspect-ratio: 1/1;
}
.pattern-block__guide {
    margin-left: 25px;
}
.pattern-block__guide p {
    font-size: 1.25rem;
    margin: 0;
}
.pattern-block__guide h3 {
    font-size: 2rem;
    margin: 0;
}

.pattern-block__text * {
    position: relative;
}
.pattern-block__text img {
    max-width: 510px;
    width: 100%;
    aspect-ratio: 1.172 / 1;

}

.pattern-block__text h1 {
    font-size: 4rem;
    z-index: 100;
}

.pattern-block__text p {
    font-size: 1rem;
    line-height: 150%;
    z-index: 100;
}

.pattern-block__text.block2 img {
    aspect-ratio: 1.04 / 1;
    max-width: 520px;
}

.pattern-block__buttons button {
    border: 2px solid var(--dark-gray);
    border-radius: 100px;
    font-weight: bold;
    font-size: 1rem;
    padding: 17px 0;
    width: 100%;
    transition: 0.3s;
}
.pattern-block__buttons button:hover {
    background-color: var(--dark-gray);
    color: white;
}

.pattern-block .abilities > div > div > div {
    background-color: white;
    border-radius: 15px;
}
.element > div {
    background-color: white;
    height: 250px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;

    overflow: hidden;
}
.element > div h3 {
    font-size: 20px;
}
.element > div > div {
    background-color: #D6D0C2;
    height: 70px;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.element > div > h3{
    margin-top: 35px;
    margin-left: 30px;
}
.pattern-block__services .all-price-el div {
    background-color: var(--dark-gray);
    height: 60px;
    padding: 0 50px;
    vertical-align: middle;
    border-radius: 100px;
    max-width: 265px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
.pattern-block__services .all-price-el a {
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
}
.pattern-block__services .all-price-el a:hover {
    color: white !important;
}
.pattern-block__questions__accordeon .accordion{
    border-radius: 0;
}
.pattern-block__questions__accordeon .accordion-item {
    height: 248px;
    background-color: transparent;
    border: none;
    border-top: 1px solid rgba(21, 17, 14, 0.2);
    border-bottom: 1px solid rgba(21, 17, 14, 0.2);
    padding: 30px 0;
}
.pattern-block__questions__accordeon .accordion-header button{
    background-color: transparent;
    font-size: 2rem;
    font-weight: lighter;
    border: none;
    box-shadow: none;
}
.pattern-block__questions__accordeon .accordion-body {
    font-size: 20px;
}

.pattern-block__questions__accordeon .accordion-button::after {
    display: none !important;
}
  
/* Add plus */
.pattern-block__questions__accordeon .accordion-button:not(.collapsed)::before,
.pattern-block__questions__accordeon .accordion-button::before {
    content: "+";
    font-size: 4rem;
    font-weight: 300;
    position: absolute;
    right: 1rem;
    transition: transform 0.3s ease;
    transform: rotate(45deg);
}
  
/* Rotate plus */
.pattern-block__questions__accordeon .accordion-button:not(.collapsed)::before {
    transform: rotate(90deg);
}
.pattern-block__questions__accordeon .accordion-button:not(.collapsed) {
    color: black;
}