.doctor-profile {
    overflow: auto;
    height: 100vh;
    padding-left: 100px;
    padding-top: 65px;
    box-sizing: border-box;
    color: #1A1613;
    background: rgb(214,208,194);
    background: linear-gradient(90deg, rgba(214,208,194,0) 12%, rgba(214,208,194,1) 100%);
}
.doctor-profile > div {
    margin-top: 200px;
    padding-top: 65px;
}
.container-fluid  {
    height: 100vh;
}
.doctor-profile h1 {
    font-size: 2rem;
}
.doctor-profile h2 {
    font-size: 1.25rem;
    margin-top: 20px;
}
.doctor-profile p {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
    line-height: 150%;
}
.doctor-profile p span {
    text-decoration: underline;
}
.doctor-profile button {
    z-index: 100;
}
.doctor-profile button:not(:last-child) {
    position: absolute;
}
.doctor-profile button:first-child {
    top: 35px;
    /* left: 45px; */
}
.doctor-profile button:nth-child(2) {
    top: 35px;
    left: 190%;
}
.doctor-profile .container-fluid > div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 18px;
}
/* .doctor-profile div:last-child{
    /* height: 100% !important; */
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; 
} */
.doctor-profile button:last-child {
    height: 60px;
    width: 360px;
    vertical-align: middle;
    padding: 0 71px;
    box-sizing: border-box;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 100px;
    margin-top: 35px;
    color: white;
    background: rgb(141,121,98);
    background: linear-gradient(160deg, rgba(141,121,98,1) 12%, rgba(62,41,17,1) 100%);
}
