.doctors {

    width: 77%;
    max-width: 1120px;
}
.doctors h1 {
    text-align: center;
    margin-top: 90px;
}
.doctors__branches h2 {
    margin: 50px 0px;
}
.doctors__branches button {
    padding: 16px 32px;
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
    width: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 60px;
}
.doctors__branches button:hover {
    color: white;
    background-color: var(--dark-gray);

}
.doctors-branch {
    margin-top: 150px;

    width: 77%;
    max-width: 1120px;
}
.doctor-card > * {
    margin: 10px 0;
}
.doctor-card p {
    font-weight: 500;
}
#all-kids-doctors-container .details-button {
    background-color: var(--dark-gray);
    color: white;
}