.doctors {

    width: 77.7%;
    max-width: 1120px;
}
.doctors h1 {
    text-align: center;
    margin-top: 90px;
}
.doctors__branches h2 {
    margin: 50px 0px;
}
.doctors__branches > div {
    padding: 0 12px;
    max-width: 1120px;
}
.doctors__branches button {
    padding: 16px 32px;
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
    width: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 60px;
    transition: 0.3s;
}
.doctors__branches button:hover {
    color: white;
    background-color: var(--dark-gray);

}
.doctors-branch {
    margin-top: 150px;

    width: 77.7%;
    max-width: 1120px;
}
/*empty*/
#all-kids-doctors-container .details-button {
    background-color: var(--dark-gray);
}
#all-kids-doctors-container .details-button a {
    color: white;
}
@media (max-width: 760px) {
    .doctors{
        width: 90%;
    }
    .doctors h1 {
        margin-top: 50px
    }
    .doctors__branches button {
        padding: 0 15px;
        /* padding: 9px 15px; */
        font-size: 0.5rem;
        border-radius: 30px;
        box-sizing: border-box;
        height: 30px;
    }
    .doctors__branches {
        width: 100%;
    }
    .doctors-branch h2 {
        margin: 25px 0;
    }
    .doctors__branches button {
        margin-right: 11px;
        margin-bottom: 10px;
    }
    .doctors__branches > div {
        align-items: center;
        justify-content: center;
        /* max-width: 375px; */
    }
    .doctors-branch {
        margin: 0;
        width: 90%;
    }
    .doctors-branch__grid {
        max-width: 100%;
        gap: 30px;
        margin-right: 0;
        margin-left: 0;
    }
    .doctor-card p {
        font-weight: bold;
        font-size: 6px;
    }
    .doctors__branches h2 {
        margin: 25px 0;
    }
}