.child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.child__button {
    position: relative;
    top: -177px;
    width: 1120px;
    display: flex;
    justify-content: flex-start;
}