.child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
}
.child__images {
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    height: 100%;
}
.child__images img {
    position: absolute;
}

.child__images img:nth-of-type(2), .child__images img:nth-of-type(1) {
    top: -50px;
}
.child__images img:nth-of-type(3) {
    left: 28%;
    bottom: 0;
}
.child__images img:nth-of-type(2), .child__images img:nth-of-type(4) {
    right: 0;
}
.child__images img:nth-of-type(4) {
    bottom: -100px;
}
.child__button {
    margin-top: 20px;
    max-width: 1120px;
    width: 77.7%;
    display: flex;
    justify-content: flex-start;
}
.child .default-card__text {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.child .default-card {
    z-index: 10;
}
.child__images {
    z-index: 1;
}
.child .default-card__text hr {
    margin: 40px 0;
}
.child .default-card__text p:last-of-type {
    margin-bottom: 0;
}
@media (max-width: 768px) {
    .child {
        /* width: 90%; */
        /* max-width: 375px; */
        margin-top: 50px;
    }
    .child__images img {
        width: 20%;
        z-index: 100;
    }
    .child__images {
        z-index: auto;
    }
    .child__images img:nth-of-type(3) {
        /* display: none; */
        top: 65px;
        right: 0;
        left: auto;
        z-index: 100;
    };
    .child__images img:nth-of-type(4) {
        bottom: -20px;
        display: none;
    }
    .child__images img:nth-of-type(2) {
        top: 400px;
    }
}