.comfort {
    width: 1120px;
    height: 196px;
    display: flex;
    flex-direction: row;
    gap: 64px;
    margin-top: 100px;
}

.comfort > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.comfort > div h3 {
    font-size: 0.875rem;
}
.comfort > div p {
    font-size: 0.75rem;
}
.comfort > div > img {
    margin-bottom: 25px;
    height: 43px;
    width: 43px;
}
