.comfort {
    width: 77.7%;
    max-width: 1120px;
    height: 196px;
    display: flex;
    flex-direction: row;
    gap: 64px;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 100px;
}

.comfort > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.comfort > div:first-of-type {
    max-width: 186px;
}
.comfort > div h3 {
    font-size: 0.875rem;
    margin: 0;
}
.comfort > div p {
    font-size: 0.75rem;
    margin-top: 20px;
    line-height: 140%;
}
.comfort > div > img {
    margin-bottom: 25px;
    height: 43px;
    width: 43px;
}

@media (max-width: 760px) {

    .comfort {
        width: 90%;
        /* max-width: 375px; */
        margin-top: 50px;
        flex-wrap: wrap;
        gap: 10px;
        height: auto;
        justify-content: center;
        align-items: flex-start;
    }
    .comfort > div {
        max-width: 100px !important;
    }
    .comfort > div > img {
        width: 30px;
        margin-bottom: 5px;
    }
    .comfort > div > h3 {
        font-size: 0.5rem;
        margin: 0;
    }
    .comfort > div > p {
        font-size: 7px;
        margin: 5px 0;
    }
    .default-card__text hr {
        margin: 25px 0 !important;
    }
    .full-cycle__button {
        margin-top: 25px !important;
    }
}
