.default-card {

    max-width: 1120px;
    width: 77%;
    height: 748px;
    margin-top: 100px;

}
.default-card__text {
    max-width: 525px;
    height: auto;
}
.default-card__text h2 {
    margin-bottom: 30px;
}
.default-card__text hr {
    border-color: rgba(255, 255, 255, 0.5);
    /* margin: 40px 0px; */
}
.default-card__text__icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.default-card__text__icons > div {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-weight: bold;
    font-size: 0.875rem;
}
.default-card__text__icons img {
    height: 43px;
    aspect-ratio: 1/1;
}
.default-card__photo > img {
    max-width: 550px;
    border-radius: 10px;
}
@media (max-width: 760px) {
    .default-card {
        width: 100%;
        
    }
    .default-card__photo {
        /* width: 100vw; */
        /* margin-left: calc(-50vw + 50%); */
    }
    .default-card__photo > img {
        border-radius: 0;
        
    }
    .default-card {
        width: 90%;
    }
    .default-card__text p {
        margin-top: 15px;
    }
    .default-card__text hr {
        border-color: rgba(31, 31, 31, 0.5);
        opacity: 1;
    }
    
}
