.full-cycle {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.full-cycle__button {
    margin-top: 50px;
    width: 77%;
    max-width: 1120px;
    display: flex;
    justify-content: flex-end;
}
.full-cycle .default-card {
    flex-direction: row-reverse;
    margin-top: 0;
}
.full-cycle .default-card__text__icons > div {
    flex-direction: row;
    align-items: center;
}