.full-cycle {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.full-cycle__button {
    margin-top: 30px;
    justify-content: flex-start;
    max-width: 1120px;
    display: flex;
}
.full-cycle .default-card {
    flex-direction: row-reverse;
    margin-top: 0;
}
.full-cycle .default-card__text__icons {
    gap: 30px;
}
.full-cycle .default-card__text__icons > div {
    /* flex-direction: column; */
    width: auto;
    gap: 11px;

    flex-direction: row;
    align-items: center;
}
.full-cycle .default-card__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}
@media (max-width: 760px) {
    .full-cycle {
        /* width: 90%; */
        /* max-width: 375px; */
        margin-top: 50px;
    }
    .default-card__photo > img {
        /* max-width: 375px; */
        position: relative;
        width: 100vw;
        left: -5%;
    }
    .default-card__text__icons {
        justify-content: center;
    }
     .card-children button {
        font-size: 10px;
        width: 100px;
        height: 30px;
        background-color: rgba(76, 76, 76, 1)
    }
    .full-cycle__button {
        margin-top: 50px;
        display: flex    ;
        justify-content: flex-start;
    }
    .full-cycle .default-card__text__icons > div {
        flex-direction: row;
        width: auto;
    }
    .full-cycle .default-card__text__icons {
        justify-content:space-between;
        gap: 0;
    }
}