

.title {

    max-width: 1120px;
    width: 77.7%;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}
.title h1 {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 800;
    font-size: 4rem;
}
.title h2 {
    margin-bottom: 23px;
    font-weight: 800;
    font-size: 2rem;
}
.title p {
    font-weight: 600;
    line-height: 150%;
    font-size: 20px;
    text-align: justify;
}
@media (max-width: 1100px) {
    .title {
        width: 77.7%;

    }
}
@media (max-width: 760px) {
    .title {
        height: auto;
        width: 90%;
        margin-top: 15px;
        /* max-width: 375px; */
    }
    .title h1 {
        margin-bottom: 25px;
        font-size: 24px;
    }
    .title h2 {
        font-size: 16px;
    }
    .title p {
        font-weight: 500;
        line-height: 140%;
        font-size: 12px;
        text-align: left;
    }
    .title button {
        font-weight: 300;
        font-size: 0.75rem;
        text-decoration: underline;
    }
}