

.title {

    max-width: 1120px;
    width: 77.7%;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}
.title h1 {
    margin-bottom: 50px;
    text-align: center;
    font-weight: bolder;
}
.title h2 {
    margin-bottom: 23px;
}
.title p {
    font-weight: bold;
}
@media (max-width: 1100px) {
    .title {
        width: 90%;
    }
}
@media (max-width: 760px) { 
    .title {
        height: auto;
        width: 90%;
        margin-top: 15px;
    }
    .title h1 {
        margin-bottom: 25px;
    }
    .title p {
        font-weight: 500;
        line-height: 140%;
    }
    .title button {
        font-size: 0.75rem;
        text-decoration: underline;
    }
}