.video {
    width: 100%;
    width: 100vw;
    background-image: url("../../assets/video_preview.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 680px;
    margin-top: 70px;
}
.video img {
    transition: 0.5s;
}
.video img:hover {
    transform: scale(1.2,1.2);
}

@media (max-width: 1200px) {

    .video {
        width: 100%;
        margin-top: 0;
        height: 220px;
    }
}
