@import "./styles/main-page/Contacts.css";
@import "./styles/main-page/DepartmentSection.css";
@import "./styles/main-page/FAQ.css";
@import "./styles/main-page/MainPage.css";
@import "./styles/main-page/MainPageSwiper.css";
@import "./styles/main-page/PersonalExperience.css";
@import "./styles/main-page/Recovery.css";
@import "./styles/main-page/Review.css";
@import "./styles/main-page/Service.css";

@import "./styles/about/ChildhoodImpressions.css";
@import "./styles/about/Comfort.css";
@import "./styles/about/DefaultCard.css";
@import "./styles/about/FullCycle.css";
@import "./styles/about/FutureTechnology.css";
@import "./styles/about/Title.css";
@import "./styles/about/Video.css";

@import "./styles/kids/Kids.css";
@import "./styles/kids/KidsDoctors.css";
@import "./styles/kids/ServicesAndPrice.css";

@import "./styles/doctors/Doctors.css";

@import "./styles/services/ServicesPage.css";

@import "./styles/history/History.css";

@import "./styles/price/Price.css";

body {
  margin: 0;
  padding: 0;
    font-family: Montserrat, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark-gray: #2E2E2E;

  line-height: 150%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
