.button {
    background-color: #2E2E2E;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 16px;
    width: 170px;
    height: 46px;
    border-radius: 100px;
    text-transform: uppercase;
    /* height: 60px; */
    /* width: 360px; */
    transition: 0.3s;
}
.button:hover {
    background-color: white;
    color: #2E2E2E;
}