.details-button {
    background-color: #2E2E2E;
    font-weight: 500;
    border: none;
    font-size: 16px;
    border-radius: 100px;
    height: 32px;
    width: 93px;
    font-size: 0.75rem;
}
.details-button a {
    color: white;
}   