.footer {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 322px;
    margin-top: 150px;

    border-top: 1px solid rgba(21, 17, 14, 0.2);
}
.footer__container {
    width: 77.7%;
    max-width: 1120px;
    height: initial;

    display: flex;
    flex-direction: row;
    font-size: 1rem;
    margin-top: 90px;

}
.footer__container__logo img {
    height: 76px;
    width: 170px;
}
.footer select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    border: none;
    background-color: transparent;
    font-size: 1rem !important;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    position: relative;
    /* left: -3%; */
}
.footer select:focus-visible {
    border: none;
    background-color: transparent;
}
.footer select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
.footer select::-ms-expand {
    display: none;
}
.footer__container  > div {
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.footer__container__column1 {
    height: 112px;
    min-width: 54px;
    margin-left: 115px;
}
.footer__container__column2 {
    margin-left: 101px;
}
.footer__container__column3 {
    margin-left: 136px;
}

@media (max-width: 768px) {
    .footer {
        margin-top: 50px;
        width: 100vw;
    }
    .footer__container__column2-mobile select {
        position: relative;
        left: -4px;
    }
    .footer__container {
        width: 90%;
        /* max-width: 375px; */
    }
    .footer__container > div {
        align-items: flex-start;
    }
    .footer__container a, .footer select {
        font-size: 1rem;
    }
    .footer__container__logo-mobile {
        margin-bottom: 30px;
    }
    .footer__container__logo-mobile img {
        width: 100px;
    }
}